@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookstoreMVC!</h1>
    <p>
        This application allows you to easily manage and track your book inventory.
    </p>
    
    <p>
        Whether you're a bookstore owner or just a book enthusiast, our platform simplifies the process of adding, editing, and removing books from your collection. Enjoy efficient CRUD (Create, Read, Update, Delete) operations on your book catalog.
    </p>
    
    <p>
        Feel free to explore the application and start managing your books today!
    </p>
</div>